.form-card{
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    margin:10px;
    
}


#googlebtn{
    background-image: url( 'https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg' );
    background-color: transparent; /* make the button transparent */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 50px;  
    width: 50px;
    text-align: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 25px; /* Resize the background image to cover the entire container */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    vertical-align: middle; /* align the text vertically centered */
}

#tarjeta_ingreso{

}
/*
.jumbotron::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(https://firebasestorage.googleapis.com/v0/b/azogis-473d2.appspot.com/o/aves.svg?alt=media&token=aca03c04-b2a9-45c5-b7fa-be5ebfad8004) bottom center;
    background-size: 100%;
  }
  */
body{
/*    background-image: url('https://firebasestorage.googleapis.com/v0/b/azogis-473d2.appspot.com/o/contact-visual.png?alt=media&token=965a87dd-570f-48ab-aa76-83ac2d21ddea');*/
/*    background-image: url('https://firebasestorage.googleapis.com/v0/b/azogis-473d2.appspot.com/o/100-2500x1656.jpg?alt=media&token=e1d69069-0dcb-4a8e-b6eb-71b20952c634');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    
/*    background: #232526;  /* fallback for old browsers */
/*    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
/*    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}



#textosdisp {
}


#googleate {
    right: 0px;
}

.mapbox-logo{ display: none; } .mapboxgl-ctrl-logo { display: none !important; } .mapbox-improve-map { display: none; } .mapboxgl-ctrl-compass { display: none; }
.mapboxgl-ctrl-attrib { display: none; }